
body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}


nav{
    display: flex;
    width: 100%;
    height: 15vh;
    background-color:   rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    
    
    
}

.ul-nav{
    display: flex;
    gap: 75px;
    list-style: none;
    
}

.ul-nav a{
    text-decoration: none;
    color: black;
}

.ul-nav a:hover{
    
    color: rgb(199, 199, 199);
    transition-duration: 0.3s;
}
.contact:hover{
    background-color: rgb(198, 198, 198);
    transition-duration: 0.3s;
}

.logo{
    margin: 100px;
    width: 60px;
}
.tout-nav{
    display: flex;
    
}
.lien-contact{
    display: flex;
    align-items: center;
    gap: 20px;
    
    
    
}
#ul-nav{
   

}
.contact{
    margin-right: 100px;
    margin-left: 20px;
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}
header{
    display: flex;
    width: 100%;
    height: 80vh;
    background-color: rgb(243, 243, 243);
    flex-direction: row-reverse;
}

#header{
    width: 40%;
    
    
}
.texte-header{
    display: flex;
    width: 40%;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    
}
.header-cta{
    display: flex;
    margin-top: 20px;
    gap: 50px;
}
header div div .rdv{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.rdv:hover{
    transition-duration: 0.3s;
    background-color: rgb(196, 196, 196);

}
header div div .realisation{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.realisation:hover{

    transition-duration: 0.3s;
    background-color: rgb(198, 198, 198);
}
#section-promesse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 110vh;
}


.titre-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    display: flex;
    flex-direction: row;
    
}
.image-et-liste{
    display: flex;
    gap: 100px;
    margin-top: 100px;
}
.image-detail{
    width: 400px;
    height: 400px;
}
.liste-promesse{
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: circle;
    color: rgb(74, 74, 74);
    font-size: larger;
}

section div div .rdv{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    width: 150px;
}
#section-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 125vh;
    
}
#section-services:hover{


    
}
#section-services h1{
    text-align: center;
    padding-bottom: 50px;
}
.section-services-article1{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 80vh;
    background-color: white;
}
.titre-services{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    color: gray;
}
.button-rdvservice{
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
}

.button-rdvservice:hover{
    transition-duration: 0.3s;
    background-color: rgb(196, 196, 196);
}

.divider-services{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#section-realisation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350vh;
    background-color: rgb(255, 255, 255);

}
.realisation-article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.image-realisation{
    
    width: 600px;
    height: 300px;
}
.image-realisation2{
    
    width: 400px;
    height: 500px;
}
.image-realisation4{
    
    width: 500px;
    height: 400px;
}
.divider-realisation{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.realisation-article2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: rgb(243, 243, 243);
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    
    
}
.divider-realisation2{
    
    display: flex;
    flex-direction: column;
    width: 500px;

}
.section-temoignage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.section-temoignage h1{
    padding: 30px;
}
.article-temoignage{
    display: flex;
    flex-direction: column;
    width: 475px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;

}
.divider-temoignage{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.texte-temoignage{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.nom-temoignage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.squeezie{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}
.image-nom-temoignage{
    display: flex;
    
    align-items: center;
    gap: 10px;
}
h4{
    margin: 0;
}
.truc-mathilde{
    margin: 0;
    padding: 0;
}
footer{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}
.section-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(243, 243, 243);
}
.divider-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.footer-gauche{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.footer-droite{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
}
.article-footer-droite{
    display: flex;
    background-color: white;
    height: 10vh;
    align-items: center;
}
.article-footer-droite h4{
    margin-left: 20px;
}
.footer-gauche-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
   
}
.footer-logo{
    
    width: 40px;
}
.footer-envoyer{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 60px;
}


.footer-envoyer:hover{
    transition-duration: 0.3s;
    background-color: rgb(196, 196, 196);
}
.footer-description{
    color: rgb(68, 68, 68);
}
.fleche{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 20px;
    bottom: 20px;
    
    
    
}
.fleche-taille{
    width: 25px;
    height: 25px;
    background-color: rgb(191, 191, 191);
    padding: 10px;
    border-radius: 100%;
}
